<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
	<div align="center">
		<h2>로그인</h2>
		<form action="/login" method="post">  <!-- 관련된 처리를 시큐리티에서 해줌. -->
			<table>
				<tr>
					<td>username:</td>
					<td><input type="text" name="username" placeholder="Username"/></td>
				</tr>
				<tr>
					<td>password:</td>
					<td><input type="password" name="password" placeholder="Password"/></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" value="로그인"/></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
